<div *ngIf="bed">
  <h2>{{bed.name}} details!</h2>
  <div>
    <div>
      <img *ngIf="pictures[0]" class="w3-image w3-round" style="width:100%;max-width:400px" [src]="pictures[0].image">
    </div>
    <div>
      <label>Description: </label>
      <label>{{bed.description}}</label>
    </div>
    <div>
      <label>type: </label>
      <label>{{bed.type}}</label>
    </div>
    <div>
      <label>color: </label>
      <label>{{bed.color}}</label>
    </div>
    <div>
      <label>fabric: </label>
      <label>{{bed.fabric}}</label>
    </div>
    <div>
      <label>size: </label>
      <label>{{bed.size}}</label>
    </div>
    <div>
      <label>series: </label>
      <label>{{bed.series}}</label>
    </div>
    <div>
      <label>price: </label>
      <label>{{bed.price}} Kr</label>
    </div>
  </div>

  <button (click)="goBack()">Back</button>
  <button (click)="addToCart()">Add to cart</button>
</div>