<div>

  <div class=" w3-container w3-left w3-border w3-quarter">

<p>Filter</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="w3-container">

  <div class="form-row">
    <p>Color</p>
    <select class="w3-select" formControlName="Color">
        <option value="" selected>All</option>
        <option *ngFor="let color of colors" [value]="color">{{color}}</option>
      </select>
  </div>

  <div class="form-row">
    <p>Type</p>
    <select class="w3-select" formControlName="Type">
        <option value="" selected>All</option>
        <option *ngFor="let type of types "[value]="type">{{type}}</option>
      </select>
  </div>

  <div class="form-row">
    <p>Fabric</p>
    <select class="w3-select" formControlName="Fabric">
        <option value="" selected>All</option>
        <option *ngFor="let fabric of fabrics"[value]="fabric">{{fabric}}</option>
      </select>
  </div>

  <div class="form-row">
    <p>Size</p>
    <select class="w3-select" formControlName="Size">
        <option value="" selected>All</option>
        <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
      </select>
  </div>

  <div class="form-row">
    <p>Series</p>
    <select class="w3-select" formControlName="Series">
        <option value="" selected>All</option>
        <option *ngFor="let serie of series" [value]="serie">{{serie}}</option>
      </select>
  </div>

  <div class="form-row">
    <button type="submit" class="w3-btn w3-blue w3-margin">Search</button>
  </div>

</form>
</div>
<div class=" w3-container w3-rest">
  
  <div *ngFor="let bed of beds; let i = index" [class.selected]="bed === selectedBed" (click)="gotoDetail()" on-mouseenter="onSelect(bed)" on-mouseleave="onSelect()"
     class=" w3-card-4 w3-quarter w3-accordion w3-padding-large w3-margin">
    <img *ngIf="pictures[i]" class="w3-image w3-round" [src]="pictures[i].image"/>
    Here will be a picture of the bed
    <p>{{bed.name}}</p>
    <div class="w3-accordion-content w3-hide" [class.w3-show]="bed === selectedBed">
      <p>{{bed.color}}</p>
      <p>{{bed.type}}</p>
      <p>{{bed.fabric}}</p>
      <p>{{bed.size}}</p>
      <p>{{bed.series}}</p>
      <p>{{bed.price}} Kr</p>
    </div>

  </div>

</div>

</div>